<div class="container">
    <form action="/card/create" id="cardForm" method="POST" class="form-signin">
        <fieldset>
            <legend>Create a Card</legend>
                    <div class="form-group">
                        <label for="title">Card Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter Card Title">
                    </div>
                    <div class="form-group">
                        <label for="description">Card Description</label>
                        <input type="text" class="form-control" name="description" placeholder="Enter Card Description">
                    </div>
                    <div class="form-group">
                        <label for="column">Card Column</label>
                        <input type="number" class="form-control" name="column" placeholder="Enter Column">
                    </div>
                    <div class="form-group">
                        <label for="row">Card Row</label>
                        <input type="number" class="form-control" name="row" placeholder="Enter Row">
                    </div>
                    <div class="form-group">
                        <label for="row">Card Type</label>
                        <select class="form-control" name="cardType" id="cardType">
                            <% cardTypes.forEach(function(cardType) { %>
                                <option value="<%= cardType.type %>"><%= cardType.type %></option>
                                <% }) %>
                        </select>
                    </div>
                    <input type="hidden" value="<%= iteration.id%>" name="iteration" >
                    <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>