<script>

  /*
  *Some qualities of the board
  *
  */

/* Render Board
* Get all the cards
* Get header cards first
* Get story cards
* Go through the lists and append them to the divs
* Apply sortable
*/
  $(document).ready(function () {

    $('.sort-me-alpha').sortable({
      connectWith: '.sort-me-gamma, .sort-me-beta, .sort-me-header',
      placeholder: "testclass",
      forcePlaceholderSize: true
    });

    $('.sort-me-beta').sortable({
      connectWith: '.sort-me-gamma, .sort-me-alpha, .sort-me-header',
      placeholder: "testclass",
      forcePlaceholderSize: true
    });

    $('.sort-me-gamma').sortable({
      placeholder: "testclass",
      forcePlaceholderSize: true,
      connectWith: '.sort-me-alpha, .sort-me-beta, .sort-me-header'
    });

    $('.sort-me-header').sortable({
      placeholder: "testclass",
      forcePlaceholderSize: true,
      connectWith: '.sort-me-alpha, .sort-me-beta, .sort-me-gamma, .sort-me-header',
      receive: function (event, ui) {
        var $list = $(this);

        if ($list.children().length > 1) {
          $(ui.sender).sortable('cancel');
        }
      }
    });
  });
</script>

<!-- <div style="margin: 30px;"> -->
<div class="container" style="display: table;">
  <div class="row" style="display: table-row; ">
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: orange;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: orange;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: orange;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: orange;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
  </div>
  <div class="row" style="display: table-row;">
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: pink;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: pink;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-header" style="display: table-cell;">
    </div>
    <div class="sort-me-header" style="display: table-cell;">
      <div class="sticky" style="background-color: pink;">
        <b>Card Header</b> Put any text in here.
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="display: table-row;">
    <div class="sort-me-alpha" style="display: table-cell;">
      <div class="sticky">
        <b>Card 1</b> Put any text in here.
      </div>
      <div class="sticky">
        <b>Card 2</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-beta" style="display: table-cell;">
      <div class="sticky">
        <b>Card n</b> Put any text in here.
      </div>
    </div>
    <div class="sort-me-gamma" style="display: table-cell;">
      <div class="sticky">
        <b>Card 3</b> Put any text in here.
      </div>
      <div class="sticky">
        <b>Card 4</b> Put any text in here.
      </div>
      <div class="sticky">
        <b>Card 5</b> Put any text in here.
      </div>
    </div>
  </div>

</div>



<style>
  /* li {
        background-color: #ffcb05;
        margin: 5px;
        padding: 5px;
        cursor: move;
    } */

  .square {
    width: 220px;
    height: 220px;
    background: white;
    margin: 15px;
  }

  .sort-me {
    /* background-color: #3498db; */
    min-height: 30px;
    margin: 10px;
    padding: 10px;
    width: auto;
    vertical-align: top;
    display: inline-block;
  }

  .sort-me-header {
    /* background-color: #ADD8E6; */
    background-color: white;
    /* margin: 10px; */
    /* padding: 10px; */
    width: 250px;
    min-height: 200px;
    height: auto;
    vertical-align: top;
    display: inline-block;
  }

  .sort-me-alpha {
    /* background-color: #00274c; */
    /* background-color: #ADD8E6; */
    background-color: white;
    /* margin: 10px; */
    /* padding: 10px; */
    width: 250px;
    min-height: 600px;
    height: auto;
    vertical-align: top;
    display: inline-block;
  }

  .sort-me-gamma {
    /* background-color: #00274c; */
    /* background-color: #ADD8E6; */
    background-color: white;
    /* margin: 10px; */
    /* padding: 10px; */
    width: 250px;
    height: auto;
    min-height: 600px;
    vertical-align: top;
    display: inline-block;
  }

  .sort-me-beta {
    /* background-color: #00274c; */
    /* background-color: #ADD8E6; */
    background-color: white;
    /* margin: 10px; */
    /* padding: 10px; */
    width: 250px;
    height: auto;
    min-height: 600px;
    vertical-align: top;
    display: inline-block;
  }

  .sticky-empty {
    background: none;
    box-shadow: none;
    width: 200px;
    min-height: 150px;
    margin: 10px 10px 10px;
  }

  .testclass {
    background-color: gray;
    border: 2px solid gray;
    width: 200px;
    min-height: 150px;
    margin: 10px 10px 10px;
    padding: 10px;
  }

  .sticky {
    /* position: absolute; */
    right: 0;
    z-index: 150;
    /* transform: rotate(5deg); */
    width: 200px;
    min-height: 150px;
    margin: 10px 10px 10px;
    padding: 10px;
    /* font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive; */
    font-size: 14px;
    color: #000;
    background: rgba(255, 255, 51, 0.8);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .sticky header {
    background: purple;
  }

  .ui-helper {
    width: 100% !important;
  }
</style>
