<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Activity Overlord!</h1>
        <p class="lead">...tracking app activity better than the NSA since 1899</p>
        <hr class="my-4">

        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/user/new" role="button">Sign Up Now</a>
        </p>
      </div>
</div>
