<div class="container">
  <h1 class="display-4">Boards</h1>

  <form action="/board/create" method="POST" >
    <input type="submit" value="Create" class="btn btn-primary">
  </form> <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Iterations</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% boards.forEach(function(board){ %>
        <tr>
          <td>
            <%=board.id%>
          </td>
          <td>
            <%=board.iterations.length%>
          </td>
          <td>
            <a href="/board/show?id=<%=board.id%>" class="btn btn-primary">Show</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>
